__pycache__/
*.pyc
.env
.venv/
venv/
server/.env
panel/panel_settings.json
panel/generated_scripts_index.json
panel/generated_scripts/*
panel/flash_panel_settings.json
panel/generated_flash_scripts_index.json
panel/generated_flash_scripts/*
BOT2.txt
BOT2.data.backup.txt
